/*styling för formuläret*/
.form-todo {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-todo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-todo input[type="text"],
.form-todo select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

span {
    display: block;
    color: rgb(189, 1, 1);
    font-size: 1em;
}

input[type="submit"] {
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #4175b1;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #305681;
}