/*styling för app.tsx*/
.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6em;
}

.app-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.todo-list {
    width: 100%;
    background-color: rgb(219, 219, 219);
    padding: 30px;
    border-radius: 15px;
}

.todo-form {
    width: 100%;
    max-width: 500px;
    background-color: rgb(219, 219, 219);
    padding: 30px;
    border-radius: 15px;
    max-height: 500px;
}

.todo-form h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.6em;
}

@media (min-width: 768px) {
    .app-layout {
        display: flex;
    }
}